* {
  box-sizing: border-box;
  font-family: "Montserrat Alternates", "futura", helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: snow;
}

a:hover {
  color: lightblue;
}

#container {
  background-image: url('./images/flatmount.jpg');
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* DESKTOP*/
@media only screen and (min-width: 400px) {
  #skills .skill-icons {
    margin: 35px;
    width: 100px;
    height: 100px;
  }
}

.title {
  text-align: center;
  color: snow;
  padding: 55px 30px 5px 30px;
}

.boxes {
  background-color: transparent;
  margin: 0px;
  padding: 0px 12px 0px 12px;
}

/* SITE NAVIGATION */

.nav-text {
  color: snow;
}

#nav {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgb(44, 74, 100);
  z-index: 9999;
  display: none;
  box-shadow: 0px 1px 8px #101010;
  display: none;
}

.nav-list {
  list-style-type: none;
  margin: 0px;
  padding: 15px 10px;
  text-align: center;
}

.nav-list li {
  display: inline;
  padding: 0px 5px;
}

/* MOBILE: Background image and skills icons */
@media only screen and (max-width: 400px) {
  #container {
    background-image: url('./images/flatmountmobile.jpg');
    background-attachment: fixed;
    -webkit-background-size: 250%;
    -moz-background-size: 250%;
    -o-background-size: 250%;
    background-size: 250%;
  }

  #skills .skill-icons {
    margin: 20px;
    width: 80px;
    height: 80px;
  }
}

/* First Impression */

#intro {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

#intro #intro-box {
  color: snow;
  padding: 1.3em 1.2em;
  text-align: center;
  font-size: 1.6em;
  border: 4px solid snow;
  background-color: rgba(111, 186, 251, 0.1);
}

#about {
  background-color: transparent;
}

.about-content {
  max-width: 600px;
  margin: auto;
  margin-top: 10px;
  padding: 20px 20px 0px 20px;
  word-spacing: 3px;
  line-height: 150%;
  color: snow;
  background-color: rgba(111, 186, 251, 0.1);
  text-align: center;
}

img.pic-round {
  display: inline;
  width: 200px;
  margin: 10px 0px;
  border-radius: 50%;
  box-shadow: 1px 2px 8px #101010;
}

.about-bio {
  display: inline-block;
  width: 80%;
  text-align: left;
  padding: 15px 10px 15px 10px;
  margin: 10px;
  border-top: 1px solid #484848;
}

.pizza-icons {
  text-align: center;
  word-spacing: 20px;
}

#skill-icon-box {
  max-width: 650px;
  margin: auto;
  text-align: center;
}

#projects {
  background-color: transparent;
  padding: 0px;
}

.project-pics {
  max-width: 700px;
  margin: 10px auto;
  text-align: center;
}

.project-pics div {
  display: inline-block;
}

img.pic {
  width: 650px;
  margin: 20px;
  box-shadow: 0px 2px 8px #101010;
}

/* MOBILE: Project pics */

@media only screen and (max-width: 400px) {
  img.pic {
  width: 270px;
  }
}

/* FOOTER AREA */

#footer {
  background-color: #151515;
  padding: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

#btm-links {
  padding: 0px;
  text-align: center;
}

#copyright {
  background-color: #151515;
  color: #505050;
  display: block;
  font-size: .9em;
  text-align: center;
}

/* BUTTON EFFECTS */

.button {
  color: lightgray;
  position: relative;
  padding: 17px 31px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  margin: 1.3em 3em;
}

.button::before, .button::after {
  content: "";
  display: block;
  position: absolute;
  width: 11%;
  height: 14%;
  border: 2px solid;
  transition: all 0.6s ease;
}

.button::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.button::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
}

.button:hover:before, .button:hover:after {
  width: 100%;
  height: 100%;
  color: rgb(111, 186, 251);
}
