@-ms-viewport {
  width: device-width;
}
* {
  margin: 0;
  padding: 0;
}
*,
:before,
:after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  background-color: #F8F8F8;
  color: #fff;
}
.space {
  height: 700px;
  height: 100vh;
  position: relative;
  background-image: url('../images/space.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.cat {
  width: 250px;
}
.pizza {
  width: 150px;
}
.forest {
  width: 3000px;
  height: 220px;
  left: 0;
  bottom: 0;
  position: absolute;
  background-image: url('../images/forest.png');
  background-repeat: repeat-x;
  background-position: top;
}
/* .nav {
  font-family: 'Source Sans Pro', Tahoma, Geneva, sans-serif;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  text-align: left;
  width: 100%;
  color: #202020;
}
.nav div {
  display: inline-block;
  padding: .2em;
} */
.wrapper {
  text-align: center;
  width: 100%;
  height: 700px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
       -webkit-box-pack: center;
          -ms-flex-pack: center;
        justify-content: center;
}
.main {
  font-family: 'Bungee', cursive, 'Tahoma', 'Geneva', sans-serif;
  font-size: 4em;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: .3em .5em;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background-image: linear-gradient(30deg,  #ae57bf, #44008b, #4c0f67, #00076f); */
  background-image: -webkit-linear-gradient(45deg, #ae57bf, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(45deg, #ae57bf, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-animation: slideIn 1s ease-out;
     -moz-animation: slideIn 1s ease-out;
       -o-animation: slideIn 1s ease-out;
          animation: slideIn 1s ease-out;
}
.main:before,
.main:after {
  position: absolute;
  content: '';
}
.main:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: -900px;
  background-image: inherit;
  -webkit-animation: slideIn 1s ease-out forwards;
     -moz-animation: slideIn 1s ease-out forwards;
       -o-animation: slideIn 1s ease-out forwards;
          animation: slideIn 1s ease-out forwards;
  -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
       -o-animation-delay: 1s;
          animation-delay: 1s;
  box-shadow: 4px 4px 7px #a18aa6;
}
.main:after {
  position: absolute;
  z-index: -1;
  top: .1em;
  right: .1em;
  bottom: .1em;
  left: .1em;
  background-color: #FFF;
}
.main--no-textzone:before {
  background-position: -.65em 0;
}
.main--no-textzone:after {
  content: none;
}
.main-text--cover,
.main-text--cover:before {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
}
.main.pic p {
  font-family: 'Source Sans Pro', 'Tahoma', 'Geneva', sans-serif;
  font-size: 0.5em;
}
@-webkit-keyframes slideIn {
	0% {left: -900px;}
	100% {left: 0;}
}
@-moz-keyframes slideIn {
	0% {left: -900px;}
	100% {left: 0;}
}
@-o-keyframes slideIn {
	0% {left: -900px;}
	100% {left: 0;}
}
@keyframes slideIn {
	0% {left: -900px;}
	100% {left: 0;}
}
@-webkit-keyframes slideInFromTop {
	0% {bottom: 100px;}
	100% {bottom: -25px;}
}
@-moz-keyframes slideInFromTop {
  0% {bottom: 100px;}
	100% {bottom: -25px;}
}
@-o-keyframes slideInFromTop {
  0% {bottom: 100px;}
	100% {bottom: -25px;}
}
@keyframes slideInFromTop {
  0% {bottom: 100px;}
	100% {bottom: -25px;}
}
@media screen and (max-width: 400px) {
  .main {
    font-size: 2.5em;
  }
  .main {
    -webkit-animation: none;
       -moz-animation: none;
         -o-animation: none;
            animation: none;
  }
  .main:before {
    left: 0;
    -webkit-animation: slideInFromTop 1s ease-out forwards;
       -moz-animation: slideInFromTop 1s ease-out forwards;
         -o-animation: slideInFromTop 1s ease-out forwards;
            animation: slideInFromTop 1s ease-out forwards;
  }
}
