@-ms-viewport {
  width: device-width;
}

/* TODO: get rid of wildcard selector, not performant! */
* {
  margin: 0;
  padding: 0;
}

*, :before, :after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #F8F8F8;
  color: #FFF;
}

h2 {
  font-family: 'Source Sans Pro', 'Tahoma', 'Geneva', sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: snow;
}

.wrapper {
  text-align: center;
  width: 100%;
  height: 700px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
       -webkit-box-pack: center;
          -ms-flex-pack: center;
        justify-content: center;
}

@keyframes jump {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0,-4px,0);
            transform: translate3d(0,-4px,0);
  }
}

.main {
  font-family: 'Bungee', cursive, 'Tahoma', 'Geneva', sans-serif;
  font-size: 4em;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: .3em .5em;
  color: #fff;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background-image: linear-gradient(30deg,  #ae57bf, #44008b, #4c0f67, #00076f); */
  background-image: -webkit-linear-gradient(45deg, #ae57bf, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(45deg, #ae57bf, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-animation: slideIn 1s ease-out;
     -moz-animation: slideIn 1s ease-out;
       -o-animation: slideIn 1s ease-out;
          animation: slideIn 1s ease-out;
}

.main:before,
.main:after {
  position: absolute;
  content: '';
}

.main:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: -900px;
  background-image: inherit;
  -webkit-animation: slideIn 1s ease-out forwards;
     -moz-animation: slideIn 1s ease-out forwards;
       -o-animation: slideIn 1s ease-out forwards;
          animation: slideIn 1s ease-out forwards;
  -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
       -o-animation-delay: 1s;
          animation-delay: 1s;
  box-shadow: 4px 4px 7px #a18aa6;
}

.main:after {
  position: absolute;
  z-index: -1;
  top: .1em;
  right: .1em;
  bottom: .1em;
  left: .1em;
  background-color: #FFF;
}

.main--no-textzone:before {
  background-position: -.65em 0;
}

.main--no-textzone:after {
  content: none;
}

.main-text--cover,
.main-text--cover:before {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.main.pic p {
  font-family: 'Source Sans Pro', 'Tahoma', 'Geneva', sans-serif;
  font-size: 0.5em;
}

/* EVERYTHING IN THE SPACE DIV */
.space {
  /* height: 100%; */
  /* position: relative; */
  background-image: url('../images/space.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.container {
  width: 100%;
}

/* ABOUT ME */
.about-me, .skills {
  font-family: 'Source Sans Pro', 'Tahoma', 'Geneva', sans-serif;
  font-size: 1.5em;
  max-width: 600px;
  margin: 100px auto;
  margin: 50vh auto;
  margin-bottom: 25vh;
  padding: 25px;
  color: #E0E0E0;
  background-color: rgba(7,7,7,0.8);
}

.about-me h2 {
  text-align: center;
}

.about-me p {
  width: 90%;
  margin: 20px auto;
}

/* SKILLS */
.project-pics h2 {
  color: snow;
  margin-bottom: 20px;
}

.skills h2 {
  color: #303030;
  margin-bottom: 20px;
}

.skills {
  margin-top: 75vh;
  min-width: 800px;
  min-height: 800px;
  text-align: center;
  border-radius: 49%;
  background-color: rgba(240,240,240,0.99);
  box-shadow: 0 0 35px rgba(240,240,240,0.9);
  -webkit-transform: rotate(-4deg);
      -ms-transform: rotate(-4deg);
          transform: rotate(-4deg);
  /* SHADOW EFFECT ON THE MOON */
  /* box-shadow: inset 16px 0 20px #282828, inset 30px 0 0 #282828; */
  /* -moz-box-shadow: inset 16px 0px 20px #101010; */
}

/* IMAGES */
.flying-cat-pizza {
  display: none;
  position: relative;
  -webkit-transform: rotate(-12deg);
      -ms-transform: rotate(-12deg);
          transform: rotate(-12deg);
  left: -175px;
  top: -100px;
}

.moving-box {
  display: inline-block;
  position: absolute;
  width: 455px;
  -webkit-animation: leftToRight 20s infinite linear;
          animation: leftToRight 20s infinite linear;
}

@keyframes leftToRight {
  0% {left: -350px;}
  100% {left: 2100px;}
}

.cat {
  width: 300px;
  transition: transform 5s cubic-bezier(0,-2,1,0);
}

.cat:hover {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}

.cat:active {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.pizza {
  width: 150px;
}

/* SVG */
.skill-icons {
  height: 150px;
  margin: 10px;
}

.skill-icons-img {
  width: 200px;
  padding: 5px;
}

/* FOREST */
.forest {
  width: 3000px;
  height: 190px;
  left: 0;
  bottom: 0;
  position: fixed;
  background-image: url('../images/forest.png');
  background-repeat: repeat-x;
  background-position: top;
  display: none;
  opacity: 0;
  -webkit-animation: fadeIn 0.7s forwards;
          animation: fadeIn 0.7s forwards;
}

/* PROJECTS AREA */
.project-pics {
  margin-top: 50vh;
}

.project-pics h2 {
  font-size: 33px;
  text-align: center;
}

.project-pics div {
  max-width: 640px;
  margin: 50px auto;
}

.pic {
  max-width: 640px;
  border-radius: 7px;
}

@media screen and (min-width: 1000px) {
  img.pic {
    transition: transform 0.7s ease-in-out;
  }
  img.pic:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

/* FOOTER AREA */
#footer {
  background-color: #08081A;
  padding: 15px;
  padding-bottom: 150px;
  margin-top: 150px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 8px 30px black inset;
}

#btm-links {
  padding: 0px;
  text-align: center;
}

#copyright {
  color: #808080;
  display: block;
  font-size: .9em;
  text-align: center;
}

/* BUTTON EFFECTS */
.button {
  font-family: 'Source Sans Pro', 'Tahoma', 'Geneva', sans-serif;
  font-size: 1.2em;
  position: relative;
  margin: 1.3em 3em;
  padding: 17px 31px;
  border: none;
  color: silver;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.button::before, .button::after {
  content: "";
  display: block;
  position: absolute;
  width: 11%;
  height: 14%;
  border: 3px solid;
  transition: all 0.6s ease;
}

.button::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.button::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
}

.button:hover:before, .button:hover:after {
  width: 100%;
  height: 100%;
  color: #ae57bf;
  -webkit-transform: scale(0.85);
     -moz-transform: scale(0.85);
      -ms-transform: scale(0.85);
          transform: scale(0.85);
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
-moz-@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
-o-@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes fadeToBlack {
  0% {background-color: #F8F8F8;}
  100% {background-color: #080808;}
}
-moz-@keyframes fadeToBlack {
  0% {background-color: #F8F8F8;}
  100% {background-color: #080808;}
}
-o-@keyframes fadeToBlack {
  0% {background-color: #F8F8F8;}
  100% {background-color: #080808;}
}
@keyframes fadeToBlack {
  0% {background-color: #F8F8F8;}
  100% {background-color: #080808;}
}
@-webkit-keyframes slideIn {
	0% {left: -900px;}
	100% {left: 0;}
}
@-moz-keyframes slideIn {
	0% {left: -900px;}
	100% {left: 0;}
}
@-o-keyframes slideIn {
	0% {left: -900px;}
	100% {left: 0;}
}
@keyframes slideIn {
	0% {left: -900px;}
	100% {left: 0;}
}
@-webkit-keyframes slideInFromTop {
	0% {bottom: 100px;}
	100% {bottom: -25px;}
}
@-moz-keyframes slideInFromTop {
  0% {bottom: 100px;}
	100% {bottom: -25px;}
}
@-o-keyframes slideInFromTop {
  0% {bottom: 100px;}
	100% {bottom: -25px;}
}
@keyframes slideInFromTop {
  0% {bottom: 100px;}
	100% {bottom: -25px;}
}

/* PIZZA */
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 10s linear infinite;
     -moz-animation: rotating 10s linear infinite;
      -ms-animation: rotating 10s linear infinite;
       -o-animation: rotating 10s linear infinite;
          animation: rotating 10s linear infinite;
}

@media screen and (max-width: 400px) {
  .main {
    font-size: 2.5em;
  }
  .main {
    -webkit-animation: none;
       -moz-animation: none;
         -o-animation: none;
            animation: none;
  }
  .main:before {
    left: 0;
    -webkit-animation: slideInFromTop 1s ease-out forwards;
       -moz-animation: slideInFromTop 1s ease-out forwards;
         -o-animation: slideInFromTop 1s ease-out forwards;
            animation: slideInFromTop 1s ease-out forwards;
  }
  /* ANIMATION */
  .flying-cat-pizza {
    top: 0;
    left: 20px;
    -webkit-transform: rotate(65deg);
        -ms-transform: rotate(65deg);
            transform: rotate(65deg);
  }
  /* SKILLS */
  .skills {
    min-width: 90%;
    margin-top: 50vh;
    border-radius: 0;
    background-color: rgba(240,240,240,0.7);
    box-shadow: none;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }
  .skills h2 {
    color: #222;
  }
  /* SVG */
  .skill-icons {
    height: 80px;
    width: 80px;
    margin: 4px;
    padding: 6px;
  }
  .skill-icons-img {
    width: 175px;
    margin: 4px;
  }
  /* IMAGES */
  .space {
    background-image: url('../images/mobile-space.jpg');
    -webkit-background-size: 100%;
       -moz-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%;
  }
  .moving-box {
    -webkit-animation: leftToRight 50s infinite linear;
            animation: leftToRight 50s infinite linear;
  }
  .cat {
    width: 150px;
  }
  .pizza {
    width: 80px;
  }
  .project-pics {
    text-align: center;
    margin-top: 25vh;
  }
  .materialize {
    width: 80px;
  }
  a .pic {
    width: 90%;
    border-radius: 0;
  }
  /* ABOUT ME */
  .about-me, .skills {
    font-size: 1.1em;
    width: 90%;
    padding: 3%;
  }
  .forest {
    height: 150px;
  }
  /* PROJECTS */
  .project-pics h2 {
    font-size: 26px;
  }
  .project-pics div {
    margin: 10px auto;
  }
  #footer {
    margin-top: 50px;
    padding-bottom: 15px;
  }
}
